/* font-family: 'VT323', monospace; */

body {
  background: rgb(56, 64, 72);
}

#sticky-footer {
  min-height: calc(100vh - 80px);
}

footer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jura", sans-serif;
  font-size: 20px;
  background: rgb(26, 45, 99);
  color: white;
  margin-top: 20px;
}

header {
  height: 95px;
  background: rgb(26, 45, 99);
  color: white;
}

#flight-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  height: 100%;
}

#clock {
  margin: 0;
  font-size: 28px;
  font-family: "Jura", sans-serif;
  position: absolute;
  right: 25px;
}

.fa-plane-departure {
  background: white;
  height: 55px;
  width: 55px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 12px;
  font-size: 27px;
  color: rgb(26, 45, 99);
}

#airport-logo {
  width: 120px;
  position: absolute;
  left: 25px;
}

#flight-h1 {
  font-family: "Jura", sans-serif;
  font-size: 60px;
  margin: 0;
}

label {
  color: white;
  margin-left: 12px;
}

.form-control {
  border-radius: inherit;
  width: calc(100% - 24px);
  margin: auto;
  color: rgb(33, 37, 40);
}

.form-group {
  margin-top: -5px;
  font-family: "Jura", sans-serif;
  letter-spacing: 5px;
}

.btn {
  border-radius: 0;
  margin-left: 12px;
  font-family: "Jura", sans-serif;
  background: rgb(44, 48, 51);
  color: white;
  border: solid white 1px;
}
